.card {
    border: none;
    padding: 10px;
    box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);

.card-body h3 {
    font-family: $alfaSlab;
    font-size: 28px;
    color: $primaryColor;
    }
}
