$primaryColor: #202930;
$bannerFontColor: #fbfbfb;
$backgroundColorBody: #fbfbfb;
$openSans: 'Open Sans', sans-serif;
$alfaSlab: 'Alfa Slab One', cursive;
$backgoundColorHeader: linear-gradient(115deg, rgba(255,101,5,0.908000700280112) 0%, rgba(255,171,0,1) 100%);
$backgoundColorFooter: linear-gradient(115deg, rgba(255,101,5,0.908000700280112) 0%, rgba(255,171,0,1) 100%);
$bgNaranja:  #ff8c00;
$bgAmarillo: #ffd000;